{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D85BF9X455"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-D85BF9X455');
    </script>
<title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <link rel="canonical" href="https://jxsen.com/" />
  <link rel="shortcut icon" type="image/png" href="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/favicon.ico"/>
  <link rel="apple-touch-icon" href="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/apple-touch-icon.png"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://use.fontawesome.com/10f16c1fca.js"></script>
  <script type="application/ld+json">

{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "jaxsen",
  "image": "https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/bathe_promo_02_1000.png",
  "url": "https://jxsen.com/",
  "jobTitle": "artist",
  "email": "jaxsen@jxsen.com",
  "description": "Artist and musician",
  "homeLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Louisville",
      "addressRegion": "Kentucky",
      "postalCode": "40208"
    },
    "name": "Louisville, Kentucky"
  },
  "birthDate": "2002-03-25T05:00:00.000Z",
  "brand": {
    "@type": "Brand",
    "logo": "https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/scrawl+2.png"
  }
}
</script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="jaxsen is an artist from Louisville, Kentucky. He creates synth-infused lo-fi indie pop songs, which are typically drenched in emotion. He also posts his drawings onto his Instagram.">
    <meta property="og:title" content="jaxsen" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jxsen.com/" />
    <meta property="og:image" content="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/bathe_promo_02_1000.png" />
</head>

<body style="background-color:black;color:white;">

{% block content %}{% endblock %}

</body>

</html>

