{% extends "base.html" %}

{% load static %}


{% block content %}

<div class="container" style="margin-top:1rem;">

    <div class="row">

        <div class="col-1">

            <a href="/"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/logo_white.png" class="img-fluid" alt="jaxsen's graphic logo"/></a>

        </div>

        <div class="col-2 offset-9">

            <a href="/"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/scrawl+2.png" class="img-fluid" alt="jaxsen's name logo"/></a>

        </div>

    </div>


<div class="row" style="margin-top:2rem;">

    <div class="col-12">

        <h1>Promo Shots</h1>

    </div>

</div>


<div class="row">

    <div class="col-6">

        <a href="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/bathe_promo_01_4000.png"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/bathe_promo_01_1000.png" class="img-fluid" alt="Promotional shot of jaxsen, by jaxsen."/></a>

    </div>

    <div class="col-6">

        <a href="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/bathe_promo_02_4000.png"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/bathe_promo_02_1000.png" class="img-fluid" alt="Promotional shot of jaxsen, by jaxsen."/></a>

    </div>

    <div class="col-12" style="text-align:center;">

        <p style="color:gray;"><i>(click to open)</i></p>

    </div>

</div>


<div class="row" style="margin-top:1rem;">

    <div class="col-12">

        <h1>Biography</h1>

    </div>

</div>


<div class="row">

    <div class="col-12">

        <p>Since the age of thirteen, jaxsen has been playing with sounds.

            Years of exploration and self-teaching led to the release of his debut EP, 'drywall', an authentic glimpse

            into the thoughts and struggles of an eighteen-year-old in a small town.</p>

        <p>After the release of 'drywall' and

            the subsequent single, “becoming content,” jaxsen began tinkering with sound even further. After a couple of

            years, and the loss of the closest friendship he had, he came out with the emotional, “impose,” the lead single off his second, much darker, EP titled,

            “THE PLAY." "THE PLAY," is a sorrow-filled narrative that takes the listener on the journey of a downfall

            of a relationship, inspired by his aforementioned loss of best-friendship.</p>

        <p>Following the completion of, "THE PLAY," - but before the release - jaxsen's life fell to shambles. Already on

            metaphorical life support, he had a panic attack that served as a breaking point, shattering the last three remaining friendships he had.</p>

        <p>Falling through the abyss of his mind, he created, "nightmare." A lo-fi, dream pop (nightmare pop?) narrative that was his

           attempt at expressing how he felt. The song has graphic imagery to help the listener understand how scary it all was.

           He couldn't afford food to take his medicine but he couldn't work because he couldn't take his medicine. Madness!</p>

        <p>December 2022 was a big month for fans of jaxsen. He released three songs during this month! Techincally two and a remix but who's counting?</p>

        <p>The first song released was, "run," another narrative, this time detailing the day of The Panic Attack. The goal

           with the song was to give the listener the panic and fear he felt at that moment. That instinctual feeling of fight

           or flight, but emphasis on flight. A "run - Speedrun Edit" soon followed, trying to make the song better fit

            radio/commercial settings.</p>

        <p>While jaxsen stopped running, he did not slow down. Following his marathon, he released, "meteor," a song originally about

        his time in Chicago and how it ended not so gracefully. However, the meaning behind the song kind of shifted after

            The Panic Attack, and that is when he added the screams at the end of the song.</p>

        <p>jaxsen's next adventure is an end to The Panic Attack saga. This period of his life has been horrible and he's

        ready to bathe it away! "bathe," is a lo-fi indietronica song about washing away people that never really even

        liked you! The song tries to stay upbeat though in its instrumentation, clocking in at a whopping 150 BPM! The electric

            synths also make the listener feel alive and force them to bop along.</p>

        <p>"bathe," releases March 3, 2023.</p>

    </div>

</div>


<!--

        <div class="row">

        <div class="col-12">

            <h1>Lastest Release</h1>

        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <h2>meteor</h2>

            <p>A song about people's words knocking your world off balance.</p>

            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/07z8Ic7rEKcqKde8cp3dSP?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>


    </div>

-->

<div class="row" style="margin-top:1rem;">

    <div class="col-12">

        <h1>Music</h1>

    </div>

</div>


<div class="row">

    <div class="col-12">

        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=247312128/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://jaxsen.bandcamp.com/track/meteor">meteor by jaxsen</a></iframe>

        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=2524253467/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://jaxsen.bandcamp.com/track/run">run by jaxsen</a></iframe>

        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=299501013/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://jaxsen.bandcamp.com/track/nightmare">nightmare by jaxsen</a></iframe>

    </div>

</div>


<div class="row" style="margin-top:2rem;">

    <div class="col-12">

        <h1>Links</h1>

    </div>

</div>


<div class="row" style="text-align: center;margin-bottom:1rem;">

    <div class="col-lg-4 col-12">

        <a href="https://instagram.com/j_xsen" class="btn-light btn btn-lg btn-block" role="button"><i class="fa-brands fa-instagram"></i> Instagram</a><br><br>

    </div>

    <div class="col-lg-4 col-12">

              <a href="https://twitter.com/j_xsen" class="btn-light btn btn-lg btn-block" role="button"><i class="fa-brands fa-twitter"></i> Twitter</a><br><br>

    </div>

    <div class="col-lg-4 col-12">

        <p><a href="mailto:jaxsen@jxsen.com" class="btn-light btn btn-lg btn-block" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> jaxsen (at) jxsen (dot) com</a></p>

    </div>

</div>


</div>


{% endblock %}
