{% extends "base.html" %}
{% load static %}


{% block title %}EPK - jaxsen{% endblock %}

{% block content %}

<div class="container" style="margin-top:1rem;">
    <div class="row">
        <div class="col-1">
            <a href="/"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/logo_white.png" class="img-fluid" alt="jaxsen's graphic logo"/></a>
        </div>
        <div class="col-2 offset-9">
            <a href="/"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/scrawl+2.png" class="img-fluid" alt="jaxsen's name logo"/></a>
        </div>
    </div>

<div class="row" style="margin-top:2rem;">
    <div class="col-12">
        <h1>Promo Shots</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <a href="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/BLASTZONE_promo_001.jpg"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/BLASTZONE_promo_001.jpg" class="img-fluid" alt="Promotional shot of jaxsen, by jaxsen."/></a>
    </div>
    <div class="col-6">
        <a href="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/BLASTZONE_promo_002.jpg"><img src="https://jac-bucket.s3.us-east-2.amazonaws.com/jxsen/BLASTZONE_promo_002.jpg" class="img-fluid" alt="Promotional shot of jaxsen, by jaxsen."/></a>
    </div>
    <div class="col-12" style="text-align:center;">
        <p style="color:gray;"><i>(click to open)</i></p>
    </div>
</div>

<div class="row" style="margin-top:1rem;">
    <div class="col-12">
        <h1>Biography</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>Since the age of thirteen, jaxsen has been playing with sounds.
            Years of exploration and self-teaching led to the release of his debut EP, 'drywall', an authentic glimpse
            into the thoughts and struggles of an eighteen-year-old in a small town.</p>
        <p>After the release of 'drywall' and
            the subsequent single, “becoming content,” jaxsen began tinkering with his sound even further. After a couple of
            years, and the loss of the closest friendship he had, he came out with the emotional, “impose,” the lead single off his second, much darker, EP titled,
            “THE PLAY." "THE PLAY," is a sorrow-filled narrative that takes the listener on the journey of a downfall
            of a relationship, with a heavy reliance upon synthesizers to convey emotions.</p>
        <p>Following, "THE PLAY," was a series of singles further developing jaxsen's story and sound. Beginning with
            the daunting, "nightmare," jaxsen takes the listener on a trial through the flames of every day life. "run," followed
            shortly after, which was jaxsen's attempt at capturing the feeling of an anxiety attack in a song. "meteor" was then released,
            which is another narrative-driven song. Based around jaxsen's disastrous exit from Chicago, the song has an experimental
            beat and contains some of jaxsen's best lyricism to date.</p>
        <p>jaxsen's latest release is, "bathe." Released on March 3rd, 2023, the song was created in hopes of leaving The Nightmare.
            Taking what he learned from his previous releases, jaxsen created a fun, hyperpop song about washing
            away people that never liked him. The song displays an interesting juxtaposition of heartbreak with the upbeat nature
            of hyperpop.</p>
        <p>The next song to be released by jaxsen is, "BLAST ZONE." "BLAST ZONE," is an alternative, industrial banger
            reflecting upon poor decisions that resulted in loss of friendships. The chorus contains no vocals, but is instead
            filled with a booming bass and drums, resulting in a roar of percussion. A type of screaming vocals can not replicate.</p>
        <p>"BLAST ZONE," releases May 5th, 2023 on all streaming platforms.</p>
    </div>
</div>

<div class="row" style="margin-top:1rem;">
    <div class="col-12">
        <h1>Music</h1>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=765481390/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://jaxsen.bandcamp.com/track/bathe">bathe by jaxsen</a></iframe>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=299501013/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://jaxsen.bandcamp.com/track/nightmare">nightmare by jaxsen</a></iframe>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=340078928/size=small/bgcol=ffffff/linkcol=0687f5/track=449102977/transparent=true/" seamless><a href="https://jaxsen.bandcamp.com/album/the-play">THE PLAY by jaxsen</a></iframe>
    </div>
</div>

<div class="row" style="margin-top:2rem;">
    <div class="col-12">
        <h1>Links</h1>
    </div>
</div>

<div class="row" style="text-align: center;margin-bottom:1rem;">
    <div class="col-lg-4 col-12">
        <a href="https://instagram.com/j_xsen" class="btn-light btn btn-lg btn-block" role="button"><i class="fa-brands fa-instagram"></i> Instagram</a><br><br>
    </div>
    <div class="col-lg-4 col-12">
              <a href="https://twitter.com/j_xsen" class="btn-light btn btn-lg btn-block" role="button"><i class="fa-brands fa-twitter"></i> Twitter</a><br><br>
    </div>
    <div class="col-lg-4 col-12">
        <p><a href="mailto:jaxsen@jxsen.com" class="btn-light btn btn-lg btn-block" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> jaxsen (at) jxsen (dot) com</a></p>
    </div>
</div>

</div>


{% endblock %}
