{% extends "base.html" %}
{% load static %}

{% block title %}jaxsen's Songs{% endblock %}

{% block content %}

<div class="container" style="padding-top:2rem;padding-bottom:2rem;">

<div class="card col-10 col-m-8 offset-m-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 offset-1">

<div class="card-body" style="color:black;">

    <h1 style="text-align:center;margin-top:2rem;" class="card-title">My Songs :)</h1>

<!--<div class="d-grid gap-4 col-8 mx-auto" style="margin-top:2rem;">-->
<ul style="margin-top:2rem;" class="list-group list-group-flush d-grid gap-2">
<div class="d-grid gap-3">
    {% for song in songs %}

        <a class="btn-outline-dark btn btn-lg btn-block" role="button" href="{% url 'song' song_name=song.url %}">
            {{ song.title }}
        </a>

{% endfor %}
</div>
</ul>

</div>

<div class="card-footer">
    <a class="card-link" href="/"><i class="fa-solid fa-house"></i></a>
    <a class="card-link" href="#" style="text-decoration:none;color:black;">Follow jaxsen:</a>
    <a class="card-link" href="https://www.instagram.com/j_xsen">Instagram</a>
    <a class="card-link" href="https://twitter.com/j_xsen">Twitter</a>
</div>

</div>

</div>

{% endblock %}

